@model AmazonDeals.Models.Product

@{
  ViewBag.Title = "Create";
}

<h2>Create</h2>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "Products", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", id = "productEndDate" })
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.Label("Product Photo", new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <input type="file" id="ProductPhoto" name="upload" />
      </div>
    </div>


    <div class="form-group">
      @Html.LabelFor(model => model.Inventory, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Inventory, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Inventory, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  <script src="~/Scripts/App/custom.js"></script>
  <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
}
