@model IEnumerable<StatsNinja.Models.StatisticEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.SeasonYears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statistic.StatisticName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatisticValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonYears)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statistic.StatisticName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatisticValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatisticEntryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatisticEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatisticEntryId })
        </td>
    </tr>
}

</table>
